* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgb(37, 37, 37);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    border-radius: 5px;
    margin: 0 auto;
    width: 40%;
    text-align: start;
    background-color: #fff;
    padding: 5px;
    text-align: center;
}

.container div{
    margin: 0;
    background-color: rgb(79, 126, 151);
    margin: 0.5px;
    border-radius: 5px;
    padding: 10px;
    text-align: start;
}

.container div p {
    margin: 0;
    color: #fff;
}